/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.09.2015, 11:23:11
    Author     : Andrey
*/

/*.firstVideo{
    padding-top:10px;
}*/

/*     выезжающее меню под картинками            */
.thumbnail {
    position:relative;
    overflow:hidden;
}

.caption {
    position:absolute;
    top:-100%;
    right:0;
    background:rgba(66, 139, 202, 0.75);
    width:100%;
    height:100%;
    padding:2%;
    text-align:center;
    color:#fff !important;
    z-index:2;
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    -ms-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}
.thumbnail:hover .caption {
    top:0%;
}


/*==============================================================*/


*{
    font-family: Verdana;
}
body,
html{
    padding: 0;
    margin: 0;
}


.big-white-text{
    font-size: 56px;
    color: white;
    line-height: 48px;
}

.underLineSpan{
    text-decoration: underline;
}



/*navbar*/
#navbar{
    padding-left: 120px;
}

.nav > li > a:first-child{
    color: #f4f4f4;
}

#brand{
    color: #ffffff;
    font-size: 23px;
}


.blueBorderButton{
    border: 2px solid #42b8dd;
    color: #42b8dd; 
}

#singUP {
    background-color: #000;
}

.btn{
    border-radius: 10px;
}
.navbar{
    margin-bottom: 0px;
}



.centeredtable{
    height: 100%;
    display:table;
    padding: 0;
}

.centeredRow{
    height:100%; 
    display:table-cell; 
    vertical-align: middle;
}



/* firsvideo */


#firstVideo {
    height: 820px;
    background: #666666;

}

.col-md-9{
    font-size: 44px;
    color: #ffffff;
}

.blue_text{
    color:#42b8dd;
}

#firstVideo .col-md-3{
    font-size: 12px;
    font-weight: bold;
    color: #4aaac9;
}


#firstVideo .centeredRow .col-md-9{
    left:30px;
    bottom: -25px;
}

#firstVideo p{
    margin: 0px 0px 0px;
}

#firstVideo i{
    font-size: 105px;
    color: #f24264;

}
/*services
all 511px
-
bottom block 150px

*/


.blueSpice{
    background-color: #42b8dd;
}

.blueSpice > .container > .row > div{
    margin-top: 43px;
    margin-bottom: 43px;

}

.blueSpice i{
    font-size: 50px;
    width: 100px;
    height: 100px;
    border:solid white ;
    border-radius: 50%;
    text-align: center;
    vertical-align: middle;
    line-height: 90px;
    margin: 5px;
    color: whitesmoke;

}

#services h3{
    margin: 12px;
}

.text-white{
    color:white;

}


#services .row > .col-md-8 > :nth-child(1),
#services .row > .col-md-8 > :nth-child(2){
    margin-bottom: 62px;

}

.white-spise{
    background-color: white;
}

.white-spise{
    height: 150px;
}


#servicesLinks{
    text-align: center;
}

#servicesLinks i{
    line-height: 3.5em;
}




/*work
1325px
+
banner 350px

*/

#work,
#about,
#skills,
#contacts{
    padding:  90px 0  90px 0 ;
}

.workColor{
    background-color: #ebebeb;
}




.topicHeader{
    font-size: 53px;
    line-height: 45px;
    border-bottom: 10px solid #363636;
    margin: 0;
    padding: 0;
}

#work .col-md-3{
    padding: 0;
}

#work :nth-child(2) button{

    margin-left: 0;
    margin-top:30px;
    margin-bottom: 30px;
    width: 88px

}

#work div.row .col-md-4,
#work div.row .col-md-1{
    padding-left: 0; 
}





/*team*/
#about .row .col-md-4{
    padding-top:85px;
    padding-bottom: 85px;
}

#about .fa-user{
    height: 169px;
    width:  169px;
    font-size: 155px;
    border:1px solid #cccccc;
    border-radius: 50%;
    text-align: center;
    background: #cccccc;
}



#about .soclink .fa{
    height: 50px;
    width:  50px;
    font-size: 40px;
    border:1px solid #42b8dd;
    border-radius: 50%;
    text-align: center;
    background: #42b8dd;
    line-height: 50px;
    color: white;

}

#about .soclink{
    position: absolute;
    top: 60px;
    left:155px;
}

.personal-text span{
    display: inline-block;
    margin-top: 6px;
    margin-bottom: 20px;
}

#about a.text-uppercase{
    font-size: 19px;
} 

#about .personal-text{
    padding-top:48px;
    padding-left:110px;
}

#underteamBlackB .row i{
    padding-top:75px;
    font-size: 53px;

}
#underteamBlackB .row h1{
    font-size: 54px;
    margin-bottom:0;
}

#underteamBlackB .row p{

    margin-bottom:80px;

}
.graySpice{
    background: #666666;
}

.blackSpice{
    background-color: #252525;
}


/*skells*/


/*accordion*/

#skills .panel-title a:hover,
#skills .panel-title a:focus{
    text-decoration: none; 
    color: #42b8dd;
}
/* #skills .panel-heading {
    border-radius: 10px;
} */

#skills .glyphicon { margin-right:10px; }
#skills .panel-body { padding:15px 40px 0px 20px; }

/* #skills .style-2{
   width: 175px;
    height: 175px;      
   
} */


/*percent pie*/
.donut {
    width:100%;
    height:160px;
    min-width:160px;
}



.donut-label {
  position:absolute;
  text-align: center;
  font-size:22pt;
  color:#42b8dd;
  width:100%;
  top:38%;
}


div .grafic-block  div{
    padding: 0;
    margin: 0;
}

#skills{
    padding-bottom: 40px;
}
#skills .skills-block{
     margin-top: 80px;
     
}

#skills h4{
    color: #42b8dd;
}


#skills .grafic-block{
   
    margin-bottom: 52px;
}

#skills div.col-xs-12:nth-child(2){
    padding: 0;
    margin: 0;
}

#enterEmail {
    height: 80px;
}

#enterEmail div{
    margin-top: 0;
    margin-bottom: 0;
}


#enterEmail button{
    margin-top: 24px;
    background: white;
    color: #55bddf;
}

.underSkills img{
     margin-top: 25px;
     margin-bottom: 25px;
}


.zerro-leftDIV div{
    padding-left:  0;
}

/*contacts*/
#contacts h5{
    line-height: 2em;
}

#contacts .container div:not(.form){
    
  
}
#contacts a{
    margin-right: 6px;
}

#contacts form{
    
}

#contacts .col-md-12{
    padding:50px 0px  0px 0px;
}

#contacts form  div{
    padding-left:0;
    
}

#contacts form .sendGroup{
 
    
}

#contacts form .sendGroup  .form-control{
   
    height: 78px; 
}

#contacts form .sendGroup  .input-group{
    margin-bottom:15px;
}

#contacts form .userField,
#contacts form .userField  .form-control{
    height: 47px; 
}

#contacts form .sendGroup .btn{
   
    line-height: 3.2em;
}

#contacts form .form-control:not(button){
     background: #ebebeb;
}

#contacts form .form-control:not(button):focus{
     background: white;
}

#copiright h2{
  
    margin-top: 48px;
}

#copiright p{
    color:#505050;
}




/*copiright*/