/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 15.09.2015, 11:23:11
    Author     : Andrey
*/

/*.firstVideo{
    padding-top:10px;
}*/


*{
    font-family: Verdana;
}

/*navbar*/
#navbar{
    padding-left: 120px;
}

.nav > li > a:first-child{
    color: #f4f4f4;
}

#brand{
    color: #ffffff;
    font-size: 23px;
}

#singUP{
    background-color: #000;
    border: 2px solid #42b8dd;
    color: #42b8dd; 
}

.btn{
    border-radius: 10px;
}
.navbar{
    margin-bottom: 0px;
}



.centeredtable{
    height: 100%;
    display:table;
    width: 100%;
    padding: 0;
}


.centeredRow{
    height:100%; 
    display:table-cell; 
    vertical-align: middle;
}

img{
    text-align: center;
    vertical-align: middle;
}

/* firsvideo */


#firstVideo {
    height: 820px;
    background: #666666;

}

.col-md-9{
    font-size: 44px;
    color: #ffffff;
}

.blue_text{
     color:#42b8dd;
}

#firstVideo .col-md-3{
    font-size: 12px;
    font-weight: bold;
}


#firstVideo .centeredRow .col-md-9{
    left:-90px;
    bottom: -25px;
}

#firstVideo .media-object{
    height: 105px;
    width: 75px;
    
}
/*services*/

